body {
	margin: 0px;
	background-color:black;
	color:white;
}

#testbar
{
	background-color:#D2E0E6;
	margin: 1em;
	margin-top: 0em;
	padding: 0.5em;
	padding-right: 1em;
	text-align: right;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

a.testbar:link,a.testbar:visited,a.testbar:hover,a.testbar:active
{
	color:#528CE0;
}

#main {
	width:584px;
	height:664px;
	margin:auto;
}

#wastebasket {
	width:584px;
	height:664px;
	background-image: url("../imgs/Wastebasket.png");
}

#drawIdeasButton {
	width:100px;
	height:100px;
	margin: 242px; /*584-100 / 2*/
}

.idea {
	width:50%;
	margin:auto;
	float:left;
	text-align: center;
}

#chatMessages {
	height: 300px;
	overflow:scroll;
}

#chat {
	display:none;
	float:right;
	margin-right: 50px;
	background-color: white;
	color:black;
}

#adminUrl, #guestUrl {
	width: 300px;
}

#lobby {
	display:none;
	background-color: white;
	color:black;
	width: 400px;
}

#time {
	display:none;
	float:right;
}
#timeRemaining {
	float:left;
}
#hours, #minutes, #seconds{
	float: left;
	min-width:50px;
	text-align: center;
	margin: 5px;
	background-color:white;
	border-radius: 5px;
	color:black;
}

#words {
	display:none;
	margin-top: -300px;
}

#idea1, #idea2{
	background-color:white;
	color: black;
	width:150px;
	padding:25px;
	margin:46px;
	border-radius: 5px;

	/*584*/
}